<!-- This file is generates the camera view page, for the following path http://localhost:8888/.
It derives a lot of its functionality from Javascript files which are invoked here. This file works
in conjunction with the UV4l server. Read the accompanying ReadMe file in the directory for things
to make sense.-->

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <title>Camera</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="camera.css">
	    <script src='adapter.js'></script>
        <script src='signalling.js'></script>
        <script src='main.js'></script>
    </head>
    <body>
        <div class="container">
            <video id='v' playsinline autoplay muted="muted"></video>
        </div>
    </body>
</html>
