html, body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.container {
    overflow: hidden;
    display: block;
    /*
    * Use the command "fbset -s" in terminal to obtain screen dimensions.  
    */
    width: 800px;
    height: 480px;
    background-color: black;
}
#v {
    display: block;
    padding: 0px;
    /*
    * We are displaying width slightly higher than 100% to remove the white bar
    * that the video comes with.
    */
    width: 105%;
    background-color: black;
}
